<link rel="stylesheet" href="/styles/overlay.css">
<script src="/js/channel-overlay.js"></script>

<div class="my-overlay" id="channel-overlay">
    <i class="close-overlay-btn fas fa-times fa-lg"></i>
    <div id="channel-icons" class="mb-0 container-fluid overlay-container justify-content-center">
        
    </div>


</div>