<div class="row mb-5">
    <div class="col-xl-9 mx-auto text-center">
        <div class="source-icon m-auto">
                <img data-link="{{route}}" src="{{iconPath}}" alt="">
        </div>
        <span class="icon-name">{{name}}</span>
    </div>
</div>