<li class="comment-block list-group-item">
            <div class="row">
                <div class="col-1">
                    <div class="inset">
                        <img src="{{authorPhoto}}" alt="">
                    </div>
                </div>
                <div class="col-11">
                    <p class="mb-0 font-weight-bold">
                        {{author}}
                    </p>
                    <p class="text-muted">
                        {{date}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        {{content}}
                    </p>
                </div>
            </div>
        </li>