<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script src="https://kit.fontawesome.com/325ada46a1.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css"
        rel="stylesheet">
    <link rel="icon" href="/media/images/icon.png">
    <title>choshi</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
        <div>
            <a id="logout" class="auth-btn" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i></a>
            <i id="info-btn" class="fas fa-info-circle"></i>
            <i id="channel-switch-btn" class="mdi mdi-television-classic"></i>
        </div>
        <a class="navbar-brand" href="https://github.com/matteuc/choshi-news">
            <img id="logo" src="/images/white-font.png">
        </a>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <div class="inset">
                    <img id="profile-img" src="" alt="">
                </div>
            </li>
        </ul>

    </nav>

    {{{body}}}

</body>

</html>



















{{!-- Login Overlay --}}