<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script src="https://kit.fontawesome.com/325ada46a1.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.4.95/css/materialdesignicons.css"
        rel="stylesheet">
    <link rel="icon" href="/media/images/icon.png">
    <title>choshi</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top d-flex justify-content-between">
        
        <a href="auth/google" class="auth-btn"><i id="login-btn" class="auth-btn fas fa-sign-in-alt fa-lg"></i></a>
        <a class="navbar-brand" href="/">
            <img id="logo" src="/media/images/white-font.png">
        </a>

    </nav>

    {{{body}}}

</body>

</html>



















{{!-- Login Overlay --}}